<header>
    <img class="logo" src="../img/herd-logo.png">
    <h1 class="display">Herd</h1>
    <h2 class="lead">Join the event. Create your community.</h2> 
</header>
<div class="container">
    <h2>Top Events</h2>
    <div class="row">
        <div class="col col-lg-3">
        <div class="card">
            {{#each communities}}
            {{#each Events}}
                <div>Event name: {{name}}</div>
                <div>Event description: {{description}}</div>
                <div>Event time: {{time}}</div>
            {{/each}}
            {{/each}}

        </div>
        </div>
    </div>
    <h2>Popular Communities</h2>
    <div class="row">
        {{#each communities}}
            <div class="col col-lg-3">
                <div class="card">
                <h3>{{name}}</h3>
                <p>{{description}}</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>

