<div class="container-fluid">
    <div class="row">
        <header>
            <img class="logo" src="../img/HERD.png">
            <br>
            <div><h2 class="lead" id="lead-main"> Join the event</h2> </div>
            <div><h2 class="lead" id="lead-sub">Create your community</h2> </div>
            <div id="sign-up"><a href="/signup" class="btn btn-primary">Sign Up</a></div>
        </header>
    </div>
    <div class="row" id="events-row">
        <div class="container">
            <h2 class="row-title">Top Events</h2> 
            <div class="row">
                    {{#each communities}}
                    {{#each Events}}
                        <div class="col col-lg-4">
                            <div class="card h-100">
                                {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                                <div class="color-spacer event-spacer"></div>
                                <div class="card-body">
                                    <h5 class="card-title">{{name}}</h5>
                                    <p class="card-text">{{dot description}}</p>
                                    <p class="card-text">{{moment date "dddd, MMMM Do YYYY"}}</p>
                                    <p class="card-text">{{moment date "h:mm A"}}</p>
                                    <div id="visit-event"><a href="/community/{{../name}}/event/{{name}}?eventId={{id}}" class="btn btn-primary">View Event</a></div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    {{/each}}
            </div>
        </div>
    </div>
    <div class="row" id="communities-row">
        <div class="container">
            <div class="row">
                <h2 class="row-title">Popular Communities <a href="/api/community/community/new">(+ Add)</a></h2>
            </div>
            <div class="row">
                {{#each communities}}
                    <div class="col col-lg-4">
                        <div class="card h-100">
                            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                            <div class="color-spacer community-spacer"></div>
                            <div class="card-body">
                                <h5 class="card-title">{{name}}</h5>
                                <p class="card-text">{{dot description}}</p>
                                <div id="visit-community"><a href="/community/{{name}}?communityId={{id}}" class="btn btn-primary">Visit</a></div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

