<header>
    <img class="logo" src="../img/HERD.png">
    <br>
    <h2 class="lead">Join the event. Create your community.</h2> 
</header>
<div class="container">
    <h2>Top Events</h2>
    <div class="row">
            {{#each communities}}
            {{#each Events}}
                <div class="col col-lg-3">
                    <div class="card">
                        <h3>{{name}}</h3>
                        <p>About: {{description}}</p>
                        </p>Event time: {{time}}</p>
                    </div>
                </div>
            {{/each}}
            {{/each}}
    </div>
    <h2>Popular Communities</h2>
    <div class="row">
        {{#each communities}}
            <div class="col col-lg-3">
                <div class="card">
                <h3>{{name}}</h3>
                <p>{{description}}</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>

